html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    font-family: 'Brush Script MT', cursive;
    width: 100%;
    background-color: rgb(10, 75, 87);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: 50%;
    background-color: white;
}

#banner img {
    width: 60%;
    height: 50%;
}

table, th, td {
    border: 1px solid tomato;
    border-radius: 10px;
  }

#logoPic img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

#shrimpPic img{
    border-radius: 10%;
}

#spicePic img{
    border-radius: 5%; 
}

#tablePic img{
    width: 50%;
    height: 50%;
    border-radius: 15%;
}

.service {
    display: inline-block;
    font-family: 'Brush Script MT', cursive;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 3px;
}

table {
    font-family: 'Brush Script MT', cursive;
    border: 3px solid tomato;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

#locations text {
    font-size: large;
}